# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
venv/
.env
*.sqlite3

# ------------------------
# Django
# ------------------------
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/
.DS_Store

# ------------------------
# Testing / Coverage
# ------------------------
htmlcov/
.coverage
.pytest_cache/

# ------------------------
# Pydantic
# ------------------------
*.pydantic.json

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/

# ------------------------
# Docker
# ------------------------
*.env
docker-compose.override.yml
